body{
    padding: 0px;
    margin: 0px;
    font-family: 'Poiret One', cursive;
}
.naw ul li{
    display: inline-block;
}
li{
    margin: 20px;
}
ul{
    margin: 10px 80px;
}
a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: grey;
}
ul li{
float:right;
}
header{
    height: 80px;
}
.img{
    height: 500px;
    background-image: linear-gradient(211deg, rgba(28,255,0,1) 0%, rgba(0,243,255,1) 100%); 
}
.welcome{
    width: 300px;
    height: 300px;
    position: absolute;
    margin: 98px 500px;
    text-align: center;
    font-weight: 700;
    color: white;
    animation: gg 1s 1 alternate ease-in ;
}
@keyframes gg{
    0%{transform: rotate(45deg)scale(1.3);}
    100%{transform: rotate(0deg)scale(1);}
}
footer{
    height: 125px;
    background-color: rgb(48, 48, 48);
}
.animate{
    opacity: 0%;
    width: 100%;
    height: 700px;
    margin: -700px 0px;
    background-color: white;
    position: absolute;
    animation: bb 3.5s alternate;
}
.WELCOME{
    opacity: 0%;
    text-align: center;
    margin: 230px 0px;
    font-size: 120px;
    animation: bb 3.5s alternate;
}
@keyframes bb{
    0%{opacity: 100%;}
    100%{opacity: 0%;}  
}